APP_NAME="url shortener"
APP_ENV=local
APP_KEY=base64:cZHKV/xxvXIJS1DdDyxRKyHxwCeoUds2vuUn5QN5Z+U=
APP_DEBUG=true
APP_URL=http://shortener.local

#Authentication key for api usage
API_KEY=secret123
API_RATE_LIMIT_BY_API_KEY=30
STATS_CACHE_TTL_IN_SECONDS=120

############################ Logging & Database
#LOG_CHANNEL=stack
LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database configuration
DB_CONNECTION=pgsql
DB_HOST=url-shortener-pgsql
DB_PORT=5432
DB_DATABASE=url-shortener-pgsql
DB_USERNAME=sail
DB_PASSWORD=password
############################

BROADCAST_CONNECTION=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

######################################## SAIL section
SAIL_APP_NAME=url-shortener


#Super important to assure existance of
#mkdir storage/framework/cache/data
#For artisan commands proper running.
#https://laracasts.com/discuss/channels/laravel/failed-to-clear-cache-make-sure-you-have-the-appropriate-permissions-1

#start<local development sail settings>
#For sail main service
#@link:https://stackoverflow.com/questions/74488794/laravel-9-sail-error-service-laravel-test-is-not-running-container
APP_SERVICE=url-shortener
#For local sail development
APP_PORT=8101
#For permissions "id -u"
WWWGROUP=501
WWWUSER=501

#Xdebug is turned off
#SAIL_XDEBUG_MODE=off
#SAIL_XDEBUG_CONFIG=client_host=host.docker.internal

#Xdebug is turned on
SAIL_XDEBUG_MODE=develop,debug,coverage
SAIL_XDEBUG_CONFIG="client_host=host.docker.internal start_with_request=yes idekey=PHPSTORM"

# FORWARD_ variables for SAIL docker-compose.yaml
FORWARD_DB_PORT=15437
# FORWARD_ variables for SAIL docker-compose.yaml
FORWARD_REDIS_PORT=16380

RAY_ENABLED=true
RAY_HOST=host.docker.internal
RAY_PORT=23517
#end<local development sail settings>




